@import "tailwindcss";

@theme {
  --font-sans: var(--font-noto-sans);
  --font-mono: var(--font-zain);
  --color-primary: #f6bd60;
  --color-secondary: #f28482;
  --color-tertiary: #84a59d;
  --color-dark: #001d3d;
  --color-light: #f7ede2;
}

:root {
  --background: #f7ede2;
  --foreground: #001d3d;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}