@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-noto-sans);
  --font-permanent-marker: var(--font-permanent-marker);
  --color-primary: #f6bd60;
  --color-secondary: #f28482;
  --color-tertiary: #84a59d;
  --color-dark: #2f3e46;
  --color-light: #f8f9fa;
}

:root {
  --background: #f8f9fa;
  --foreground: #2f3e46;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}